<!DOCTYPE html>
<html lang="en" ng-app="MainApp" ng-controller="KhachHangController">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bùi Tiến Anh</title>
 

    @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
            
        @Scripts.Render("~/bundles/angular")
</head>
<body>
    @RenderBody()
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/js")

</body>
</html>
